{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<div style="background-color:#337ab7; padding:10px" class="row"><!––<img src="python_banner.jpg" class="img-fluid" style="width:100%" alt="Responsive image">
<div class="col-md-5" style="padding-left:30px">	
	<iframe width="420" height="230" src="https://www.youtube.com/embed/RAxnJngsyrI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="col-md-7">
	<h1 style="color:#fff; text-shadow: 2px 2px #212020;">Appium for Mobile Automation Testing</h1><h3 style="color:#fff;text-shadow: 2px 2px #212020;">APPIUM is a freely distributed open source mobile application UI Testing framework. Appium allows native, hybrid and web application testing and supports automation test on physical devices as well as on emulator or simulator both.</h3>
</div>
</div>
</div>
<div class="container" style="background-color: #e8e8e8; padding-bottom: 15px;">
<div class="row">
<div class="col-md-6">  
  <h3>Appium Course objectives</h3>
  Some of the key skills you will gain upon completion of this program include:
                     
<ul style="padding-left: 15px">  
<li>Learn coding standards in writing the most optimized Mobile Automation Scripts</li>
<li>Learn to develop Mobile Automation framework from scratch</li>
<li>Understand appium framework components</li>
<li>Learn all the features of Appium Test Automation Tool</li>
</ul>
</div>
<div class="col-md-6">
<h3>Prerequisite</h3>
<p>
<ul style="padding-left: 15px">
<li>• Knowledge of OOPs, Basic Python </li>
<li>• Knowledge of Selenium would be an added advantage </li>
<li>• Able to test mobile application effectively and efficiently.</li>
</ul>
</p>
</div> 
</div>
<div>
<p class=""><a target="_blank" href="/static/pdf/appium_content.pdf" class = "btn btn-primary"><i class="fa fa-download"></i> Download Course Content [5 Days] (PDF)</a></p>
</div>
<div>
  <ul class="nav nav-pills rwo" style="background-color:#fafafa">
    <li class="active col-md-12 col-xs-12" style="padding:0px; margin:0px; text-align: center"><a data-toggle="pill" href="#basicpy"><h4>Appium for Mobile Automation Testing: Modules </h4></a></li>
  </ul>
	<form action="." method="post" style="">{% csrf_token %}
	<div class="tab-content"> 
    <div id="basicpy" class="tab-pane fade in active">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="1.Introduction to Appium and Mobile automation Testing">
						1.Introduction to Appium and Mobile automation Testing
					</h4>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="2.Download and Configure Appium Dependency">
						2.Download and Configure Appium Dependency
					</h4>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="Appium- Prerequisites Installation for Mac or Windows">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="3.Appium- Prerequisites Installation for Mac or Windows">
						3.Appium- Prerequisites Installation for Mac or Windows
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading4">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="4.Launching Native Apps with Appium">
						4.Launching Native Apps with Appium
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading5">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="5.Running Your First Test on Android">
						5.Running Your First Test on Android
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading6">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="6.UIAutomator Viewer">
						6.UIAutomator Viewer
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading7">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="7.Appium Inspector">
						7.Appium Inspector
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading8">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="8.Native App Test –Run Test on Sample Native Mobile App">
						8.Native App Test –Run Test on Sample Native Mobile App
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading9">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="9.Android-Automating Built In Apps(Phone,Contacts,Settings)">
						9.Android-Automating Built In Apps(Phone,Contacts,Settings)
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading10">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="10.Introduction to Python">
						10.Introduction to Python
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading11">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="11.Mutable and Immutable Objects">
						11.Mutable and Immutable Objects
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading12">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="12.Basic Language Construct">
						12.Basic Language Construct
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading13">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="13.Control Structure">
						13.Control Structure
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading14">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="14.Functions with *arg and **kwarg">
						14.Functions with *arg and **kwarg
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading15">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="15.Data Structures">
						15.Data Structures
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading16">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="16.List Comprehension & Dictionary Comprehension">
						16.List Comprehension & Dictionary Comprehension
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading17">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="17.Modules">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse17">
							<i class="more-less glyphicon glyphicon-plus"></i>
							17.Modules
						</a>
					</h4>
				</div>
				<div id="collapse17" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Importing Types, Creation and Accessing os, sys, system, random,glob etc.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading18">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="18.Object Oriented Programming">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse18">
							<i class="more-less glyphicon glyphicon-plus"></i>
							18.Object Oriented Programming
						</a>
					</h4>
				</div>
				<div id="collapse18" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>self, Class Variable and Object Variables</li>
							<li>Overriding, private data, Inheritance etc</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading19">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="19.Files, readlines and writelines, iteration">
						19.Files, readlines and writelines, iteration
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading20">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="20.Exception Handling,User Defined Exception using raise">
						20.Exception Handling,User Defined Exception using raise
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading21">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="21.Android MobileBrowser-Automating Mobile Web Application">
						21.Android MobileBrowser-Automating Mobile Web Application
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading22">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="22.XML Viewer">
						22.XML Viewer
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading23">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="23.Identifying Elements">
						23.Identifying Elements
					</h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading24">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="24.Touch Actions">
						24.Touch Actions
					</h4>
				</div>
			</div>
		</div>
    </div>
  </div>
	<input type = "submit" class="btn btn-primary" value= "Submit Choices" style = "">
	</form>
</div>	
</div>
<script>
function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
{% endblock %}