<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load notifications_tags %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        .switch input {display:none;}
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        
        input:checked + .slider {
            background-color: #2196F3;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>GKTCS LMS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
	<!--<script src="/static/assets/js/core/jquery.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/static/js/jquery.formset.js"></script>
    <script src="{% static 'js/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
    <!-- CSS Just for demo purpose, don't include it in your project 
    <link href="http://gktcs.com/GLMS/public/static/assets/demo/demo.css" rel="stylesheet" /> -->
	{% block head %}
	{% endblock %}
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" style="background:#4bb4e8 !important">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    <i class="now-ui-icons design_app"></i>
                </a>
                <a href="/" class="simple-text logo-normal">
                    GKTCS HOME PAGE
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
					<li id="my_courses">
                        <a href="/display_courses/">
                            <i class="now-ui-icons education_agenda-bookmark"></i>
                            <p>My Courses</p>
                        </a>
                    </li>
					<li id="add_course">
                        <a href="/add_course/#">
                            <i class="now-ui-icons files_single-copy-04"></i>
                            <p>Add New Course</p>
                        </a>
                    </li>
					<li id="my_blogs">
                        <a href="/my_blogs/">
                            <i class="fas fa-table"></i>
                            <p>My Blogs</p>
                        </a>
                    </li>
					<li id="write_blog">
                        <a href="/create_blog/">
                            <i class="far fa-edit"></i>
                            <p>Write Blog</p>
                        </a>
                    </li>
					<li id="all_blogs">
                        <a href="{% url 'all_blogs' %}">
                            <i class="fas fa-window-restore"></i>
                            <p>All Blogs</p>
                        </a>
                    </li>
					<li id="assignment">
                        <a href="{% url 'submitted_assignments' %}">
                            <i class="fas fa fa-file-code"></i>
                            <p>Submitted Assignments</p>
                        </a>
                    </li>
					<li id="int_profiles">
                        <a href="{% url 'submitted_int_profiles' %}">
                            <i class="now-ui-icons files_single-copy-04"></i>
                            <p>Intern Profiles</p>
                        </a>
                    </li>
					<li id="int_profiles">
                        <a href="{% url 'submitted_jobseeker_profiles' %}">
                            <i class="now-ui-icons files_single-copy-04"></i>
                            <p>Jobseeker Profiles</p>
                        </a>
                    </li>
					<li id="promocode">
                        <a href="{% url 'list_promocode' %}">
                            <i class="now-ui-icons shopping_tag-content"></i>
                            <p>Promo Code List</p>
                        </a>
                    </li>
					<li id="my_profile">
                        <a href="{% url 'myprofile' user.id %}">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>My Profile</p>
                        </a>
                    </li>
                    <li class="active-pro">

                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand"><h4>Trainer Dashboard</h4></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <form name="search_form" role="search" action="/search_course/" method="get">
                            <div class="input-group no-border">
                                <input type="text" id="search" name="q" value="" class="form-control" placeholder="Search...">
                                <a href="#" onclick="search_form.submit();" class="input-group-addon">
                                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                                </a>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <i class="fa fa-home"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Home</span>
                                    </p>
                                </a>
                            </li>
							<li class="nav-item dropdown notify" href="https://gktcs.com/inbox/notifications/mark-all-as-read/">
                                <a class="nav-link dropdown-toggle notify" href="https://gktcs.com/inbox/notifications/mark-all-as-read/" id="navbarDropdownNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="now-ui-icons ui-1_bell-53">{% notifications_unread as unread_count %}{% if unread_count %}<strong>{% live_notify_badge %}</strong>{% endif %}</i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Notification</span>
                                    </p>
                                </a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownNotification">
                                    
									    {% live_notify_list %}
									    {% if request.user.is_superuser %}<a class="dropdown-item" href="/notifications/"> Read All Notifications </a>{% endif %}
									
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="now-ui-icons users_single-02"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">User</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'auth_logout' %}?next=/">LOGOUT</a>
                                </div>
                            </li>
                        </ul>
                    </div> 
					
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
			{% block content %}
                <h1>Test<h1/>
				1{% live_notify_list list_class="dropdown-menu" %}
				2{% live_notify_badge %}
				3{% live_notify_list %}
				666{% live_notify_badge badge_class="badge" %}
				-----------------------<br/>
							<li class="nav-item dropdown">
                                <a class="nav-link ropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="dropdown now-ui-icons ui-1_bell-53">{% live_notify_badge %}
                                    
                                        
										 <ul class="dropdown-menu">{% live_notify_list %}</ul></i>
                                    
                                </a>
                            </li>
			{% endblock %}
            </div>
            <footer class="footer">
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="/static/assets/js/core/popper.min.js"></script>
<script src="/static/assets/js/core/bootstrap.min.js"></script>
<script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/static/js/ajax.js"></script>
<!--  Google Maps Plugin    
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
<!-- Chart JS -->
<script src="/static/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/static/assets/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! 
<script src="/static/assets/demo/demo.js"></script>-->
<script type="text/javascript">
    $('.confirm_delete').on('click', function () {
        return confirm('Are you sure you want to delete ?');
    });
</script>
<script>
{% if messages %}
	{% for message in messages %}
		alert('{{ message }}');
	{% endfor %}
{% endif %}		
</script>
<script type="text/jscript">
    $(".notify").click(function () {
        var url = "https://gktcs.com/inbox/notifications/mark-all-as-read/";
        $.get(url, null, function (data) {
            $("#rData").html(data);
        });
    })
</script>
{% block lower %}
{% endblock %}
</html>
