{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row well" style="margin-left: 3px; margin-right: 3px; border-radius:20px;">
	<div class="col-md-4 ">

	<div class ="row">      <div class="col-md-12"> <h2 style="color: #00A4CB" >Address</h2></div></div>

			<div class ="row">      <div class="col-md-12"> <h4 style="color: #00A4CB" >Head Office</h4></div></div>
		The Senate Business Centre<br/>
		100 ft Riverside D.P Road,<br/>
		Vartak Baug, off Karve Rd, Erandwane,<br> 
		Pune, Maharashtra 411052<br>
		<b>Contact Person</b>- Mr. Surendra Panpaliya<br/>
		<b>Contact no.</b>-9975072320, 020 6790 5900<br/>
		<b>Email</b>-surendra@gktcs.com<br/>
		<br/>
			<div class ="row">      <div class="col-md-12"> <h4 style="color: #00A4CB" >Branch Office</h4></div></div>

		227 W Wellington Dr,Palatine,IL 60067 USA<br/>
		<b>Contact Person</b>- Mr. Satish Panpaliya<br/>
		<b>Contact no.</b>- +1(847)809-6866<br/>
		<b>Email</b>-srpanpaliya@gktcs.com<br/>

	</div>
	<div class="col-md-8 ">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15134.585980548509!2d73.8336967!3d18.499665!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x31a7749831cbb41e!2sThe+Senate+Business+Centre!5e0!3m2!1sen!2sin!4v1531742208329" style="width:100%; height:390px;" frameborder="0" style="border:2" allowfullscreen></iframe>
	</div>
   </div>
</div>

{% endblock %}
