{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}
{% block head %}
        <!-- Import Jquery And Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/static/quiz_assets/js/angular.min.js"></script>
        <script src="/static/quiz_assets/js/manage_quizes.js"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/quiz_assets/css/manage_quizes.css">
        <!-- MD Icons -->
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.3.92/css/materialdesignicons.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
{% endblock %}
{% block content %}
<div ng-app="create_quiz" ng-controller="myCtrl">
    {% verbatim %}
        <!-- Container Containing Quiz List -->
        <div class="container">
		<div class="card">
		<div class="card-header">
			<h5 class="title">Manage Quiz</h5>
		</div>
		<div class="card-body">
		
            <table class="table table-bordered" style="text-align:center;">
                <thead>
                    <tr class="course-box">
                        <td scope="col">#</td>
                        <td scope="col">Quiz Name</td>
                        <td scope="col">Time Limit(in minutes)</td>
                        <td scope="col">Update / Edit</td>
                        <td scope="col">Delete</td>
                        <td scope="col">Top Scorer</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quiz in quizes track by $index" style="" class="course-box">
                        <td scope="row">{{$index + 1}}</td>
                        <td>{{ quiz.quiz_name }}</td>
                        <td>{{ quiz.time_limit }}</td>
                        <td><i class="mdi mdi-clipboard-text" style="cursor: pointer; color: #28a745;" data-toggle="modal" data-target="#edit_quiz" ng-click="edit_quiz(quiz, $index)"></i></td>
                        <td><i class="mdi mdi-delete" style="cursor: pointer; color: #ec1f1f;" ng-click="delete_quiz(quiz, $index)"></i></td>
						<td><a href="/top_scorers/{{quiz.id}}" class="btn btn-secondary" role="button">View Top Scorers</a></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" data-toggle="modal" data-target="#create_quiz">Create New Quiz</button>
        </div>
        </div>
        </div>

        <!-- End Quiz List Container -->

        <!-- Create Quiz Modal -->
        <div class="modal" id="create_quiz">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Create New Quiz</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    <form ng-submit="create_new_quiz()">
                        <div class="form-group">
                          <label for="create_new_quiz">Enter Quiz Name</label>
                          <input type="text" class="form-control" id="create_new_quiz" ng-required="true" ng-model="new_quiz_name">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
        <!-- End Create Quiz Modal -->


        <!-- Edit Quiz Modal -->
        <div class="modal" id="edit_quiz">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                    <form class="form-inline">
                        <div class="row">
                            <div class="form-group">
                                <label for="q_name">&nbsp;&nbsp;&nbsp;&nbsp;Quiz Name:</label>
                                <input type="text" ng-model="q_name" class="form-control" id="q_name" style="margin-left: 10px;">                                        
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="change_quiz_name()" style="margin-left: 10px;">Change</button>
                        </div>
                    </form>
                    <button type="button" class="close" data-dismiss="modal" style="margin-left:10px;">&times;</button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-1" ng-repeat="question in questions track by $index" >
                            <button type="button" class="btn btn-secondary" ng-click="select_question(question)">{{ $index + 1 }}</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-warning" ng-click="clear_form()">+</button>
                        </div>
                    </div>
                    <br />
                    <div>
                        <form id="quiz_form">
                            <div class="form-group row">
                                <label for="question" class="col-sm-2 col-form-label">Question:-</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="question" ng-required="true" ng-model="selected_question.text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="option_1" class="col-sm-3 col-form-label">Option 1:-</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="option_1" ng-required="true" ng-model="selected_question.possible_answers[0].text">
                                    <br />                                    
                                </div>
                                <label for="option_2" class="col-sm-3 col-form-label">Option 2:-</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="option_2" ng-required="true" ng-model="selected_question.possible_answers[1].text">
                                    <br />                                    
                                </div>
                                <label for="option_3" class="col-sm-3 col-form-label">Option 3:-</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="option_3" ng-required="true" ng-model="selected_question.possible_answers[2].text">
                                    <br />                                    
                                </div>
                                <label for="option_4" class="col-sm-3 col-form-label">Option 4:-</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="option_4" ng-required="true" ng-model="selected_question.possible_answers[3].text">
                                    <br />                                                                        
                                </div>
                                <label for="correct_answer" class="col-sm-5 col-form-label" ng-hide="selected_question.possible_answers[0] === undefined || selected_question.possible_answers[1] === undefined || selected_question.possible_answers[2] === undefined || selected_question.possible_answers[3] === undefined">Correct Answer:-</label>
                                <div class="col-sm-7" ng-hide="selected_question.possible_answers[0] === undefined || selected_question.possible_answers[1] === undefined || selected_question.possible_answers[2] === undefined || selected_question.possible_answers[3] === undefined">
                                    <select class="form-control" ng-init="selected_question.correct.text" ng-model="selected_question.correct" ng-options="item.text for item in [selected_question.possible_answers[0], selected_question.possible_answers[1], selected_question.possible_answers[2], selected_question.possible_answers[3]]"></select>
                                    <br />                                           
                                </div>
                                <label for="currently_chosen" class="col-sm-5 col-from-label" ng-hide="selected_question.possible_answers[0] === undefined || selected_question.possible_answers[1] === undefined || selected_question.possible_answers[2] === undefined || selected_question.possible_answers[3] === undefined">Currently Chosen</label>
                                <div class="col-sm-7" ng-hide="selected_question.possible_answers[0] === undefined || selected_question.possible_answers[1] === undefined || selected_question.possible_answers[2] === undefined || selected_question.possible_answers[3] === undefined">
                                    <input type="text" readonly class="form-control-plaintext" id="currently_chosen" ng-required="true" ng-model="selected_question.correct.text" ng-disabled="true">
                                    <br />                                                                        
                                </div>
							</div>
							<div class="form-group row">
							<div class="col-md-5 float-left">
								<button class="btn btn-danger float-right" ng-click="delete_question()" ng-if="selected_question.url !== undefined">Delete Qusetion</button>
                            </div>
							<div class="col-md-5 float-right">
								<button class="btn btn-success float-right" ng-click="save_question()" ng-if="selected_question !== undefined || selected_question.possible_answers[0] === undefined || selected_question.possible_answers[1] === undefined || selected_question.possible_answers[2] === undefined || selected_question.possible_answers[3] === undefined">Save Qusetion</button>
							</div>
							</div>
                        </form>
                    </div>
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer">
                    <form class="form-inline">
                        <div class="row">
                            <div class="form-group">
                                <label for="q_time">&nbsp;&nbsp;&nbsp;&nbsp;Quiz Time(in minutes):</label>
                                <input type="text" ng-model="q_time" class="form-control" id="q_time" style="margin-left: 10px;">                                        
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="change_quiz_time()" style="margin-left: 10px; margin-right: 12px;">Change</button>
                        </div>
                    </form>
                </div>
            
                </div>
            </div>
        </div>
        <!-- End Edit Quiz Modal -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    {% endverbatim %}    
    </div>
{% endblock %}
{% block lower %}
<script>
$("#manage_quizes").addClass("active");
</script>
{% endblock %}