{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<div style="background-color:#337ab7; padding:10px" class="row"><!––<img src="python_banner.jpg" class="img-fluid" style="width:100%" alt="Responsive image">
<div class="col-md-5" style="padding-left:30px">	
	<iframe width="420" height="230" src="https://www.youtube.com/embed/exEduZlJS7Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="col-md-7">
	<h1 style="color:#fff; text-shadow: 2px 2px #212020;">Ruby On Rails</h1><h3 style="color:#fff;text-shadow: 2px 2px #212020;">Ruby is a Object Oriented Scripting language which is quick to learn, easy to deploy and provides substantial functionality required for e-commerce. Ruby on Rails is an extremely productive web application framework written in Ruby.</h3>
</div>
</div>
</div>
<div class="container" style="background-color: #e8e8e8; padding-bottom: 15px;">
<div class="row">
<div class="col-md-6">  
  <h3>Ruby On Rails Course objectives</h3>
  Some of the key skills you will gain upon completion of this program include:
                     
<ul style="padding-left: 15px">  
<li>Learn to program in Ruby</li>
<li>Learn to install and configure Ruby and Rails</li>
<li>Understand the Model-View-Controller framework architecture</li>
<li>Learn to build database-driven applications with Ruby on Rails</li>
<li>Learn to work with templates</li>
<div id="objlist" class="panel-collapse collapse">
<li>Learn to use Ajax in Ruby on Rails applications</li>
<li>Learn to test Ruby on Rails applications</li>
</div>
<a role="button" style="color:#337ab7" data-toggle="collapse" data-parent="" href="#objlist" aria-expanded="true" aria-controls="objlist">
    More...
</a>
</ul>
</div>
<div class="col-md-6">
<h3>Prerequisite</h3>
<p>
<ul style="padding-left: 15px">
<li>• The participants must be familiar with the general principles of object oriented programming (OOP).</li>
<li>• Basic knowledge of HTML</li>
<li>• Experience in the server-side programming and SQL would be beneficial </li>
</ul>
</p>
</div> 
</div>
<div>
<p class=""><a target="_blank" href="http://gktcs.com/GLMS/public/static/pdf/ror_content.pdf" class = "btn btn-primary"> <i class="fa fa-download"></i> Download Course Content (PDF)</a></p>
</div>
<div>
  <ul class="nav nav-pills rwo" style="background-color:#fafafa">
    <li class="active col-md-6 col-xs-12" style="padding:0px; margin:0px; text-align: center"><a data-toggle="pill" href="#basicpy"><h4>Basic </h4></a></li>
    <li class="col-md-6 col-xs-12" style="padding:0px; margin:0px; text-align: center"><a data-toggle="pill" href="#advancedpy"><h4>Advanced</h4></a></li>
  </ul>
	<form action="." method="post" style="">{% csrf_token %}
	<div class="tab-content"> 
    <div id="basicpy" class="tab-pane fade in active">
      <h3>Basic Modules</h3>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="1.Running Ruby">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<i class="more-less glyphicon glyphicon-plus"></i>
							1.Running Ruby
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<ul>
							<li>Command-line Ruby</li> 
							<li>The Interactive Ruby (irb) console</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="2.Objects, variables, and methods">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<i class="more-less glyphicon glyphicon-plus"></i>
							2.Objects, variables, and methods
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
						<ul>
							<li>Basic object-orientation concepts</li>
							<li>Naming conventions</li>
							<li>Variable assignment</li>
							<li>Local vs. instance variables</li>
							<li>Method-calling semantics</li>
							<li>Method arguments and return values</li>
						</ul>					
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="3.Built-in classes">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<i class="more-less glyphicon glyphicon-plus"></i>
							3.Built-in classes
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
						<ul>
							<li>String</li>
							<li>Data types and Variables</li>
							<li>Array<li>
							<li>Hash<li>
							<li>Symbol<li>
							<li>Numerics<li>

						<ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading4">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="4.Blocks and iterators">
						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
							<i class="more-less glyphicon glyphicon-plus"></i>
							4.Blocks and iterators
						</a>
					</h4>
				</div>
				<div id="collapse4" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Blocks vs. methods vs. lambdas</li>
							<li>Collection iteration</li>
							<li>Single-object iteration</li>
							<li>Procs vs Lambdas</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading5">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="5.Modules">
						<a data-toggle="collapse" href="#collapse5" data-parent="#accordion">
							<i class="more-less glyphicon glyphicon-plus"></i>
							5.Modules
						</a>
					</h4>
				</div>
				<div id="collapse5" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Modules as namespaces</li>
							<li>Modules as class mixins</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading6">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="6.Classes">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
							<i class="more-less glyphicon glyphicon-plus"></i>
							6.Classes
						</a>
					</h4>
				</div>
				<div id="collapse6" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Inheritance</li>
							<li>Classes as objects</li>
							<li>The accessor & setter methods</li>
							<li>The instance methods</li>
							<li>The class methods & variables</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading7">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="7.Ruby File I/O, Directories">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
							<i class="more-less glyphicon glyphicon-plus"></i>
							7.Ruby File I/O, Directories
						</a>
					</h4>
				</div>
				<div id="collapse7" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Sysread Method</li>
							<li>IO.readlines</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading8">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="8.Introduction to Rails and Installation">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
							<i class="more-less glyphicon glyphicon-plus"></i>
							8.Introduction to Rails and Installation
						</a>
					</h4>
				</div>
				<div id="collapse8" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Introduction to Rails</li>
							<li>Installing Rails</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading9">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="9.Platform requirements">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
							<i class="more-less glyphicon glyphicon-plus"></i>
							9.Platform requirements
						</a>
					</h4>
				</div>
				<div id="collapse9" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Supported database backends</li>
							<li>Ruby installation</li>
							<li>InstantRails for Windows</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading10">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="10.Creating a new application">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
							<i class="more-less glyphicon glyphicon-plus"></i>
							10.Creating a new application
						</a>
					</h4>
				</div>
				<div id="collapse10" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>The 'rails' command</li>
							<li>Tour of the Rails application layout</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading11">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="11.Application configuration and bootstrapping">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
							<i class="more-less glyphicon glyphicon-plus"></i>
							11.Application configuration and bootstrapping
						</a>
					</h4>
				</div>
				<div id="collapse11" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Creating the databases</li>
							<li>Configuring database.yml </li>
							<li>Setting the default route</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading12">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="12.Connecting to a Rails application">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse12">
							<i class="more-less glyphicon glyphicon-plus"></i>
							12.Connecting to a Rails application
						</a>
					</h4>
				</div>
				<div id="collapse12" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>controller/action/id URL semantics</li>
							<li>Dispatcher and routing roadmap</li>
							<li>Basic custom route creation</li>
							<li>Examining the log files</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading13">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="13.Rails tools">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse13">
							<i class="more-less glyphicon glyphicon-plus"></i>
							13.Rails tools
						</a>
					</h4>
				</div>
				<div id="collapse13" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Managing tasks with rake (Ruby make)</li>
							<li>The application console</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading14">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="14.The Model/View/Controller (MVC) framework architecture">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse14">
							<i class="more-less glyphicon glyphicon-plus"></i>
							14.The Model/View/Controller (MVC) framework architecture
						</a>
					</h4>
				</div>
				<div id="collapse14" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Separation of concerns</li>
							<li>MVC in the application directory layout</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading15">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="15.The Rails philosophy: Convention over configuration">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse15">
							<i class="more-less glyphicon glyphicon-plus"></i>
							15.The Rails philosophy: "Convention over configuration”
						</a>
					</h4>
				</div>
				<div id="collapse15" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>The Rails philosophy: "Convention over configuration”</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- panel-group -->	
    </div>
    <div id="advancedpy" class="tab-pane fade">
      <h3>Advanced Modules</h3>
		<div class="panel-group" id="interpy" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" id="heading16">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="16.Threading">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse16">
							<i class="more-less glyphicon glyphicon-plus"></i>
							16.Domain modeling for Rails and Ruby
						</a>
					</h4>
				</div>
				<div id="collapse16" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Describing the "what" of the application</li>
							<li>Creating ActiveRecord models with "generate"</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading17">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="17.Object-relational mapping with ActiveRecord">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse17">
							<i class="more-less glyphicon glyphicon-plus"></i>
							17.Object-relational mapping with ActiveRecord
						</a>
					</h4>
				</div>
				<div id="collapse17" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>ActiveRecord models and Ruby classes</li>
							<li>ActiveRecord associations</li>
							<ul>
								<li>One-to-one, one-to-many</li>
								<li>Many-to-many</li>
							</ul>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading18">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="18.Rails-friendly SQL">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse18">
							<i class="more-less glyphicon glyphicon-plus"></i>
							18."Rails-friendly" SQL
						</a>
					</h4>
				</div>
				<div id="collapse18" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Table-naming conventions</li>
							<li>Primary and foreign keys </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading19">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="19.Sockets Programming">
						<a data-toggle="collapse" data-parent="#interpy" href="#collapse19">
							<i class="more-less glyphicon glyphicon-plus"></i>
							19.Sockets Programming
						</a>
					</h4>
				</div>
				<div id="collapse19" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Default migrations </li>
							<li>Customizing migrations</li>
							<li>Migrating backwards</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading20">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="20.Basics of controller/view interaction">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse20">
							<i class="more-less glyphicon glyphicon-plus"></i>
							20.Basics of controller/view interaction
						</a>
					</h4>
				</div>
				<div id="collapse20" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Creating controllers and views with "generate"</li>
							<li>Default rendering rules</li>
							<li>Shared controller/template instance variables</li>
							<li>Separating controller logic from view specifics</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading21">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="21.HTML templating with Embedded Ruby (ERb)">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse21">
							<i class="more-less glyphicon glyphicon-plus"></i>
							21.HTML templating with Embedded Ruby (ERb)
						</a>
					</h4>
				</div>
				<div id="collapse21" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Controller filters</li>

							<li>Redirecting requests</li>

							<li>Default and custom view helper methods</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading22">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="22.Writing and processing HTML forms in Rails">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse22">
							<i class="more-less glyphicon glyphicon-plus"></i>
							22.Writing and processing HTML forms in Rails
						</a>
					</h4>
				</div>
				<div id="collapse22" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Using form helper methods</li>
							<li>"Magic" field initialization from instance variables</li>
							<li>Accessing CGI data through the "params" hash</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading23">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="23.Ajax calls and RJS (Ruby/JavaScript) templates">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse23">
							<i class="more-less glyphicon glyphicon-plus"></i>
							23.Ajax calls and RJS (Ruby/JavaScript) templates
						</a>
					</h4>
				</div>
				<div id="collapse23" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Basic DOM updating with Ajax</li>
							<li>Using RJS for composite Ajax calls</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading24">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="24.Rails unit tests">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse24">
							<i class="more-less glyphicon glyphicon-plus"></i>
							24.Rails unit tests
						</a>
					</h4>
				</div>
				<div id="collapse24" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>The Ruby TestUnit framework</li>

							<li>Writing fixtures</li>

							<li>Addressing test failures and errors</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading25">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="25.Functional (controller) tests">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse25">
							<i class="more-less glyphicon glyphicon-plus"></i>
							25.Functional (controller) tests
						</a>
					</h4>
				</div>
				<div id="collapse25" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Triggering controller requests from tests</li>
							<li>Examining controller responses </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading26">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="26.Ruby On Rails Training: Test Driven Development">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse26">
							<i class="more-less glyphicon glyphicon-plus"></i>
							26.Ruby On Rails Training: Test Driven Development
						</a>
					</h4>
				</div>
				<div id="collapse26" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>TDD Intro</li>
							<li>RSpec</li>
							<li>cucumber</li>
							<li>Capybara</li>
							<li>Test doubles, including mocks and stubs</li>
							<li>Factories</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" id="heading27">
					<h4 class="panel-title">
						<input class="chk1" type="checkbox" name="checks" value="27.Ruby and Rails Resources">
						<a data-toggle="collapse" data-parent="#advpy" href="#collapse27">
							<i class="more-less glyphicon glyphicon-plus"></i>
							27.Ruby and Rails Resources
						</a>
					</h4>
				</div>
				<div id="collapse27" class="panel-collapse collapse" >
					<div class="panel-body">
						<ul>
							<li>Mailing lists</li>
							<li>Websites</li>
							<li>Books</li>
							<li>IRC channels</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
	<input type = "submit" class="btn btn-primary" value= "Submit Choices" style = "">
	</form>
</div>	
</div>
<script>
function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
{% endblock %}