{% extends "base.html" %}    <!-- 
	<title>Surendra Panpaliya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://gktcs.com/GLMS/public/static/images/favicon.ico" type="image/x-icon" /> 
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
	<link id="theme-style" rel="stylesheet" href="http://gktcs.com/GLMS/public/static/css/p_style.css">
    -->
{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link id="theme-style" rel="stylesheet" href="http://gktcs.com/GLMS/public/static/css/p_style.css">

<style>
    	.rowss{
		    margin-top:40px;
		    padding: 0 10px;
		}
		.panel-primary>.panel-heading{
			background-image: linear-gradient(to bottom,#00a4cb 0,#00a4cb 100%) !important;
		}
		.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -20px;
			font-size: 18px;
			margin-right: 10px;
		}
		.panel-heading div span{
			margin-left:10px;
			margin-top: -5px;
		}
		.panel-body{
			display: none;
		}
		.panel-primary {
			border-color: #00a4cb !important;
		}
		.panel-heading div span {
			
		}
		@media only screen and (max-width: 780px) {
			.tbldiv {
				margin-top: 20px;
			}
		}
		label{color:white}
</style>
{% endblock %}

{% block content %}
<!-- https://bootsnipp.com/snippets/43W9 filter table-->
<div class="container">
    	<div class="row">
			<div class="col-md-12 tbldiv">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Trainer Enquiry Detail</h3>
						<div class="pull-right">
							<span class="clickable filter btn btn-success" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								Filter<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Details" />
					</div>
					<div style="overflow-x: auto; max-height:450px">
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr><th>#</th>
								<th>Date Time</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Mobile No.</th>
								<th>Email ID</th>
								<th>City</th>
								<th>State</th>
								<th>Country</th>
								<th>Course Name</th>
								<th>Linkedin ID</th>
								<th>About Course</th>
								<th>About Trainer</th>
								<th>Uploaded Profile</th>
							</tr>
						</thead>
						<tbody>
							{% for i in modules reversed %}
							<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{i.date}} </td>
							<td>{{i.f_name}} </td>
							<td>{{i.l_name}}</td>
							<td>{{i.mobile}}</td>
							<td><a style="color:#0000EE" href="mailto:{{i.email}}">{{i.email}}</a></td>
							<td>{{i.city}}</td>
							<td>{{i.state}}</td>
							<td>{{i.country}}</td>
							<td>{{i.course_name}}</td>
							<td>{{i.linkedin_profile}}</td>
							<td>{{i.about_course}}</td>
							<td>{{i.about_yourself}}</td>
							<td style="text-align:center">
								{% if i.upload_profile  %}
									<a target="_blank" class="btn btn-primary" href="{{i.upload_profile.url}}">View Profile</a>
								{% else %}
									NA
								{% endif %}
							</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					</div>
<!--
<select name="country" class="countries order-alpha presel-byip " id="countryId">
    <option value="">Select Country</option>
</select>

<select name="state" class="states order-alpha" id="stateId">
    <option value="">Select State</option>
</select>

<select name="city" class="cities order-alpha" id="cityId">
    <option value="">Select City</option>
</select>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="//geodata.solutions/includes/countrystatecity.js"></script> -->
				</div>
			</div>
		</div>
	</div>
	
{% block lower %}

<script>
(function(){
    'use strict';
	var $ = jQuery;
	$.fn.extend({
		filterTable: function(){
			return this.each(function(){
				$(this).on('keyup', function(e){
					$('.filterTable_no_results').remove();
					var $this = $(this), 
                        search = $this.val().toLowerCase(), 
                        target = $this.attr('data-filters'), 
                        $target = $(target), 
                        $rows = $target.find('tbody tr');
                        
					if(search == '') {
						$rows.show(); 
					} else {
						$rows.each(function(){
							var $this = $(this);
							$this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
						})
						if($target.find('tbody tr:visible').size() === 0) {
							var col_count = $target.find('tr').first().find('td').size();
							var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
							$target.find('tbody').append(no_results);
						}
					}
				});
			});
		}
	});
	$('[data-action="filter"]').filterTable();
})(jQuery);
</script>

<script>
$(function(){
    // attach table filter plugin to inputs
	$('[data-action="filter"]').filterTable();
	
	$('.container').on('click', '.panel-heading span.filter', function(e){
		var $this = $(this), 
			$panel = $this.parents('.panel');
		
		$panel.find('.panel-body').slideToggle();
		if($this.css('display') != 'none') {
			$panel.find('.panel-body input').focus();
		}
	});
	$('[data-toggle="tooltip"]').tooltip();
})
</script>
{% endblock %}
{% endblock %}